.benefits {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include phones {
    flex-direction: column;
  }
}

.benefit {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @include phones {
    flex-direction: row;
    text-align: left;
  }
}

.benefits__item {
  flex: 1;
  padding: 0 3%;
  position: relative;

  @include phones {
    padding: 0;
    margin-bottom: rem(40px);
  }

  &:before {
    content: url("../img/decor-circles.png");
    position: absolute;
    top: rem(52px);
    right: 0;
    transform: translateX(50%);

    @include tablets {
      display: none;
    }
  }

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;

    &::before {
      display: none;
    }
  }

}

.benefit__image {
  margin-bottom: rem(30px);

  @include phones {
    margin-bottom: 0;
  }
}

.benefit__image-wrapper {
  background: #f2f5f4;
  width: rem(126px);
  height: rem(126px);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.benefit__icon {
  width: rem(68px);
  fill: #2a2a29;
}

.benefit__text {

  @include phones {
    margin-left: rem(14px);
  }
}

.benefit__title {
  font-size: rem(27px);
  color: black;
  margin-bottom: rem(20px);
}

.benefit__desc {
  color: $lightGrey;
  font-weight: 300;
}

.benefits-section {
  position: relative;
  background: url('../img/benefit-leaf.png') left top 40% no-repeat;
  
  @include phones {
  background: none;

  }

  &::before {
    content: url('../img/benefit-berries-bar.png');
    position: absolute;
    left: 0;
    bottom: rem(-108px);

    @include phones {
      display: none;
    }
  }

  @include tablets {
    background-position: left top 10%;
  }
}