.btn {
  font-size: rem(19px);
  font-weight: 800;
  padding: rem(18px) rem(35px);
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1;
  border-radius: 50px;
  display: inline-block;
  border: none;
  outline: none;
  transition: .3s;
  cursor: pointer;

  &--theme--white {
    background-color: white;
    color: $darkGreen;

    &:hover {
      background-color: $darkGreen;
      color: white;
    }
  }

  &--theme--green {
    background-color: $darkGreen;
    color: white;

    &:hover {
      background-color: #0b4d3c;
      color: white;
    }
  }

  &--theme-transparent {
    background-color: transparent;
    color: $darkGreen;
    font-weight: normal;
    text-transform: none;


    &:hover {
      color: black;
    }
  }
}