.features {
  display: flex;
}

.feature {
  display: flex;
}

.features__item {
  margin-right: rem(37px);

  &:last-child {
    margin-right: 0;
  }
}

.feature__icon {
  width: rem(45px);
  margin-right: rem(7px);
}

.feature__text {
  font-size: rem(16px);
  max-width: rem(85px);
}