.fixed-menu {
  position: fixed;
  top: 50%;
  right: 1%;
  transform: translateY(-50%);
  z-index: $z-fixed-menu;

  @include phones {
    display: none;
  }
}

.fixed-menu__link {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid transparent;
  display: block;
  position: relative;
  transition: .3s;

  &::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 0 1px #abcacc80;
  }

  &:hover {
    border-color: #ffffff50;
  }
}

.fixed-menu__item {
  margin-bottom: 5px;

  &--active {
    .fixed-menu__link {
      border-color: white;
      box-shadow: 0 0 0 1px #abcacc80;
    }
  } 
}

