.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.logo {
  width: rem(55px);
  height: rem(41px);
  fill: #fff;
}

.close {
  display: none;

  @include tablets {
    display: block;
    width: rem(24px);
    height: rem(24px);
    position: absolute;
    right: 4%;
    top: rem(24px);
    fill: #fff;
    cursor: pointer;
  }
}

.menu {
  margin: 0 rem(20px);
  padding-top: 5px;

  @include tablets {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 50, 52, .99);
    // display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    margin: 0;
    padding-top: 0;
    opacity: 0;
    transition: 1s;
    // z-index: -1;
  }
}

.body--with_opened_menu .hero {
  z-index: 100;
}
.body--with_opened_menu .menu {
  display: flex;
  opacity: 1;
  // z-index: 1;
}
.body--with_opened_menu .fixed-menu {
  display: none;
}

.menu__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;

  @include tablets {
    flex-direction: column;
  }
}

.menu__item {
  margin-right: rem(27px);
  border-bottom: rem(1px) solid transparent;
  transition: .3s;
  margin-bottom: rem(10px);

  &:last-child {
    margin-right: 0;
  }

  &:hover {
  border-bottom: rem(1px) solid #ffffff50;
  }

  &--active {
  border-bottom: rem(1px) solid #ffffff;
  }

  @include tablets {
    margin-right: 0;
    margin-bottom: rem(30px);

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.phone-number {
  font-size: rem(24px);
  text-decoration: none;
  display: flex;
  align-items: center;
}

.phone-number__icon {
  flex-shrink: 0;
}

.phone-number__icon--elem {
  height: rem(12px);
  width: rem(12px);
  margin-right: rem(6px);
  fill: #fff
}

.phone-number__text {
  white-space: nowrap;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;

  @include tablets {
    font-size: rem(36px);
  }
}

.phone-number.header__phone-number {
  @include tablets {
    display: none;
  }
}