.radio {
  display: flex;
  cursor: pointer;
  user-select: none;

  &--checkbox {
    .radio__visible {
      border-radius: 0;

      &:before {
        content: "";
        background: url("../img/icons/checkmark.svg") center center no-repeat;
      }
    }
  }
}

.radio__elem {
  display: none;

  &:checked ~ .radio__visible {
    &::before {
      display: block;
    }
  } 
}

.radio__visible {
  width: 26px;
  height: 26px;
  position: relative;
  border-radius: 50%;
  background: white;

  &:before {
    content: "";
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background: $darkGreen;
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.radio__title {
  line-height: 26px;
  margin-left: 10px;
}