.reviews-section {
  position: relative;

  &::before {
    content: "";
    background: url('../img/strawberry.png') center center / cover no-repeat;
    position: absolute;
    width: rem(150px);
    height: rem(86px);
    top: 0;
    right: rem(-20px);

    // @include phones {
    //   top: rem(-15px);
    //   right: rem(-15px);
    //   // width: 90px;
    //   // height: 60px;
    // }
  }

  &::after {
    content: url('../img/berries-leaf.png');
    position: absolute;
    left: 0;
    bottom: rem(-96px);
  }
}

.reviews__display {
  background: #f8faf9;
  padding: rem(50px) rem(45px) rem(34px);
  overflow: hidden;
  position: relative;
  margin-bottom: rem(26px);

  &::before {
    content: "";
    display: block;
    width: rem(90px);
    height: rem(90px);
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: rem(-65px);
    left: 50%;
    transform: translateX(-50%);
  }

  &::after {
    content: url(../img/sketch-berries.png);
    position: absolute;
    top: 0;
    right: 0;
  }
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);

  @include tablets {
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews__avatar-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  flex: 1;
  padding: rem(12px) rem(100px) rem(12px) rem(20px);
  
  @include tablets {
    padding: rem(30px) rem(20px);
  }
}

.reviews__title {
  font-size: rem(30px);
  font-weight: bold;
  color: black;
  margin-bottom: rem(23px);

  @include tablets {
    margin-bottom: rem(18px);
  }
}

.reviews__text {
  margin-bottom: rem(36px);
  line-height: 1.2em;

  @include tablets {
    margin-bottom: rem(26px);
  }
}

.reviews__author {
  color: black;
  font-size: rem(18px);
  font-weight: 500;
}

// Switcher

.reviews__switcher {
  display: flex;
  justify-content: center;
}

.reviews__switcher-item + .reviews__switcher-item {
  margin-left: rem(5px);
}